.idea/
.cache/
.vscode/
__pycache__/
wandb

/home/neurodx/mahir/EVAL_PAPER/EEG-FM-Bench/uniformevalbench/experiments

.venv/
.conda/
env/
venv/
ENV/

*.lock
*.pyc
*.bak
*$py.class
data.lock
*.pt
*.ckpt
*.pth