/home/neurodx/mahir/EVAL_PAPER/EEG-FM-Bench/uniformevalbench/experiments/logs
/home/neurodx/mahir/EVAL_PAPER/EEG-FM-Bench/uniformevalbench/experiments/results
/home/neurodx/mahir/EVAL_PAPER/EEG-FM-Bench/uniformevalbench/experiments/ckpts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.csv
*.json
*.h5
*.ckpt
*.pt
*.pth
*.tar
*.zip
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.ipynb_checkpoints         